<link rel="stylesheet" href="css/style.css">
<div class="container-fluid mt-5 about-style">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="images/pri.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Privacy</h5>
                        <p class="card-text">Privacy is the ability of an individual or group to seclude themselves or
                            information about themselves, and thereby express themselves selectively. When something is
                            private to a person, it usually means that something is inherently special or sensitive to
                            them. ... </p>
                        <p class="card-text"><small class="text-muted">provide more privacy</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="images/back.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Backup</h5>
                        <p class="card-text">Trusted results for Cloud Backup Software. Check Visymo Search for the best
                            results! Results & Answers. Always Facts. 100% Secure</p>
                        <p class="card-text"><small class="text-muted">Back up </small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="images/speed.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Speed up</h5>
                        <p class="card-text">An computer architecture, speedup is a number that measures the relative
                            performance of two systems processing the same problem. More technically, it is the
                            improvement in speed of execution of a task executed on two similar architectures with
                            different resources.</p>
                        <p class="card-text"><small class="text-muted">high Speed</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>map}}